
$main-dark-color:rgba(41, 40, 48, 1);
$main-light-color:rgba(189, 189, 189, 1);
$main-orange: rgba(255, 114, 53, 1);
$light-orange-color:rgba(255, 250, 248, 1);
$transition:all 0.3s linear;
$disc-size:24px;
$orange-border:1px solid rgba(255, 114, 53, 1);

