@import './fonts.css';
@import './normalize.css';
@import './variable';


$title-size: 96px;








.preloader--hide {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
    transition: all 1s ease-out;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
}

.preloader__loader,
.preloader__percents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader__percents {
    color: orange;
    font-size: 18px;
    font-family: bold;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
    box-sizing: border-box;

}


.lds-roller {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    padding: 10px 10px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    background: orange;
    margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 62.62742px;
    left: 62.62742px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 67.71281px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 70.90963px;
    left: 48.28221px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 70.90963px;
    left: 31.71779px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 67.71281px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 62.62742px;
    left: 17.37258px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12.28719px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@mixin btn($br, $color, $bg-color) {
    border: $br;
    color: $color;
    padding: 15px 17px;
    background-color: $bg-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    text-align: left;
    border-radius: 8px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}

.container {
    max-width: 1200px;
    padding-inline: 20px;
    margin: 100px auto;
}









a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $main-orange;
    }
}

ul,
li {
    list-style: none;
}

.main__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.main__info--section {
    max-width: 50%;
    width: 100%;
}

@mixin responsive-title($desktop-size) {
    font-size: $desktop-size;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: $main-dark-color;

}


.main__title {
    @include responsive-title (96px);

    @media screen and (max-width: 840px) {

        @include responsive-title(76px);

    }

    @media screen and (max-width: 640px) {

        @include responsive-title(50px);

    }


}



.main__disc {
    font-size: $disc-size;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 40px;
    color: $main-light-color;
    max-width: 550px;
}

.main__demo {
    display: flex;
    gap: 10px;

    @media screen and (max-width:490px) {
        flex-direction: column;

        span {
            display: none;
        }
    }
}

.main__select--info {
    font-size: $disc-size;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    color: $main-light-color;
}

.main__page--img {

    max-width: 500px;
    aspect-ratio: 1;
    width: 100%;
    animation: img__scale 2s linear infinite;
    animation-direction: alternate;
}

@keyframes img__scale {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}


.main__demo {
    display: flex;
    align-items: center;
    gap: 20px;
}


#main__select--demo,
.download__select--demo {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 1.3;
    padding: 18px 50px 18px 24px;
    border: none;
    border-radius: 8px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $main-orange;

    background-image: url(../images/selector-icon.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;

}

#main__select--demo::-ms-expand,
.download__select--demo::-ms-expand {
    display: none;
}

#main__select--demo:hover,
.download__select--demo:hover {
    border: none;
}

#main__select--demo:focus,
.download__select--demo:focus {
    border: none;
    color: white;
    outline: none;
}

.dashboard__container {
    background-color: $main-orange;
    padding-top: 5%;

    .dashboard__img {
        margin: 0px 10%;
        max-width: 80%;
        width: 100%;
    }
}

.dashboard__img-bg {
    background-image: url(../images/light-bg.png), url(../images/left-lite-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right, bottom left;
}

.icons__wrapper {
    display: flex;
    max-width: 95%;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        width: 120px;
        transition: $transition;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }
    }



}

.main__info--section {
    a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $main-orange ;
    }
}

.third-pg {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: $light-orange-color;
    padding-top: 2%;
    padding-bottom: 2%;
}

.main__title {
    position: relative;
    margin-top: 40px;

    &::before {
        position: absolute;
        content: 'ALWAYS ONLINE';
        font-size: 18px;
        font-weight: 400;
        line-height: 35.57px;
        text-align: left;
        color: $main-light-color;
        top: -28px;
    }
}

.cost-free::before {
    content: 'FREE SOME COST';
}

.anytime::before {
    contain: 'USE ANYTIME';
}

.product__title {
    @extend .main__title;

    &::before {
        content: '.';
    }

    max-width: 60%;

    @media screen and (max-width:950px) {
        font-size: 70px;
    }

    @media screen and (max-width:576px) {
        max-width: 80%;
        font-size: 50px;

    }
}

.ds-flex {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
        max-width: 305px;
        margin-top: 60px;
    }
}

.product-card-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    gap: 20px;
    flex-wrap: wrap;

    a:hover {
        text-decoration: none;
    }
}

.product-card {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;


    h4 {
        margin-top: 20px;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        color: $main-dark-color;

    }

    p {
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.64px;
        text-align: center;
        color: $main-light-color;
        max-width: 200px;
    }

    transition: $transition;

    &:hover {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.04);
        transform: scale(1.2);
        border-radius: 7px;
        background-image: url(../images/vector-icon.svg);
        background-repeat: no-repeat;
        background-position: 50% 80%;
    }
}





.product-card-img {
    width: 64px;
    height: 64px;
    background: rgba(226, 89, 139, 0.05);
    padding: 20px 20px;
    border-radius: 50%;
    margin-top: 60px;

}








.price {
    background-color: rgba(255, 250, 248, 1);
}

.price__info {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .price__title {
        @extend .main__title;
        font-size: 72px;
        margin-top: 40px;
        margin-bottom: 40px;

        &::before {
            content: '.';
        }

        @media screen and (max-width:630px) {
            font-size: 50px;
        }
    }

    .price__wrapper {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        flex-wrap: wrap;
    }

    .price__card {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        padding: 40px 115px 40px 40px;
        background-color: white;
        transition: $transition;

        &:hover {
            transform: scale(1.1);

            .get__btn {
                animation: get__btn__scale 1s linear infinite;
                animation-direction: alternate;
            }

        }

        a:hover {
            text-decoration: none;
        }

    }

    h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 38.81px;
        text-align: left;
        color: rgba(0, 0, 0, 1);

        span {
            font-size: 20px;
            font-weight: 300;
            line-height: 32.34px;
            text-align: left;
            color: $main-light-color;

        }

    }

    p {
        font-size: 12px;
        font-weight: 400;
        line-height: 19.4px;
        text-align: left;
        color: $main-light-color;
    }




}

.get__btn {
    margin-top: 40px;
    @include btn($orange-border, $main-orange, white);
    width: 120px;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;

    transition: $transition;

    &:hover {
        background-color: $main-orange;
        color: white;
        border: none;

        background-image: url(../images/white-vector.svg);
        background-position: 90% 50%;

    }

}

@keyframes get__btn__scale {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.1);
    }
}

.price__card__info {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;

    li {
        list-style-image: url(../images/checked-icon.svg);
        margin-left: 30px;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 400;
        line-height: 29.11px;
        text-align: left;
        color: $main-dark-color;
    }
}


// #modal {
//     display: none;
//     z-index:999;
//     background-color: rgba(0, 0, 0, 0.4);
//     position: fixed;
//     color: $main-orange;
//     border: $orange-border;
//     border-radius: 8px;
//     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
//     text-align: center;
// }

// #paymentForm {
//     display: flex;
//     flex-direction: column;
//     max-width: 400px;

//     input {
//         height: 30px;
//         color: $main-orange;
//         background-color: white;
//         border: $orange-border;
//         outline: none;
//         margin-top: 10px;
//         border-radius: 8px;
//     }

//     label {
//         color: $main-dark-color;
//         margin-top: 10px;
//         font-size: 30px;
//     }

// }

// .submit__btn {
//     input {
//         width: 40%;
//         border-radius: 12px;
//     }
// }

// .modal-content {
//     background-color: #fefefe;
//     margin: 15% auto;
//     padding: 20px;
//     border: 1px solid #888;
//     max-width: 40%;
// }

// .close__price {
//     color: $main-dark-color;
//     align-items: center;
//     font-size: 28px;
//     font-weight: 600;
// }

// .close__price:hover,
// .close__price:focus {
//     color: black;
//     text-decoration: none;
//     cursor: pointer;
// }

@media (max-width: 768px) {
    .modal-content {
        margin: 10% auto;
        width: 90%;
    }

    #paymentForm label {
        font-size: 14px;
    }
}







.plan {
    font-size: 32px;
    font-weight: 600;
    line-height: 51.74px;
    text-align: left;
    color: $main-dark-color;
    white-space: nowrap;
    margin-top: 24px;
    margin-bottom: 24px;
}

.download__count {

    background-color: $main-orange;
}

.download {
    padding-bottom: 300px;

    @media screen and (max-width:750px) {
        padding-bottom: 20%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        max-width: 80%;
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        text-align: center;
        color: white;
        margin-top: 80px;
    }

    h4 {
        font-size: 36px;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
        color: white;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    @media screen and (max-width:825px) {
        h2 {
            font-size: 50px;
        }

        h4 {
            font-size: 20px;
        }
    }

    @media screen and (max-width:585px) {
        h2 {
            font-size: 35px;
        }

        h4 {
            font-size: 10px;
        }
    }

    #main__select--demo,
    .download__select--demo {
        display: block;
        font-size: 18px;
        font-weight: 500;
        color: $main-orange;
        line-height: 1.3;
        padding: 18px 50px 18px 24px;
        border: none;
        border-radius: 8px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        background-image: url(../images/white__demo.svg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
        margin-top: 80px;
    }

    #main__select--demo:focus,
    .download__select--demo {
        border: none;
        color: $main-orange;
        outline: none;
    }

    z-index: 5;
    background-image: url(../images/download-demo-bg.png),
    url(../images/download-demo-right-bg.png),
    url(../images/light-bg.png),
    url(../images/left-lite-bg.png);
    background-position:10% 80%,
    90% 80%,
    top right,
    bottom left;
    background-repeat:no-repeat;
    background-size: auto;


    @media screen and (max-width:1100px) {
        background-image: none;
    }
}





.hidden {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.visible {
    opacity: 1;
}




.btn,
input,
button,
input[button],
select,
option {
    cursor: pointer;
}




.textToShow {
    font-size: 20px;
    font-weight: 500px;
    position: absolute;
    width: 100%;
    height: 100%;
}





.alert-box,
#price__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    color: $main-orange;
    background-color: white;
    border: $orange-border;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.alert-box p {
    margin-bottom: 15px;
}

#closeAlert,
#closePrice--cont,#closePayAfter {

    background-color: white;
    ;
    color: $main-orange;
    border: $orange-border;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;

}






.credit {

    &:focus,
    &:hover {
        background: lighten(#1266ff, 10%);
        outline: none;
    }
}



.price__container {

    background: #f5f5f7;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    max-width: 300px;
    overflow: hidden;
}

.form-submit {
    padding: 10px;
    max-width: 100%;
    background-color:white;
    border:$orange-border;
    width: 100%;
    height: 50px;
    border-radius:8px;
    margin-top: 30px;
    margin-bottom: 30px;
    outline: none;
    color: $main-dark-color;
    &:hover{
        color: $main-orange;
    }
}

#price__container {
    input {

        background: #fff;
        border: none;
        border-radius: 3px;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.1);
        margin: 20px 10px 4px;
        padding: 6px 10px 4px;
        width: 100%;

    }
    #closePrice--cont{
        margin-top: 50px;
    }
    h4{
        margin-bottom: 30px;
        font-size: 2rem;
    }
}








@media screen and (max-width:1140px) {
    .main__info--section {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1,
        h2 {
            text-align: center;

        }

        max-width: 80%;

    }

    .main__container {
        flex-direction: column;
        align-items: center;
    }


}

@media screen and (max-width:640px) {
    .main__info--section {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1,
        h2,
        .main__title {
            text-align: left;
            font-size: 40px;
        }

        max-width: 80%;

    }

    .main__container {
        flex-direction: column;
        align-items: center;
    }


}

@media screen and (max-width:576px) {
    .dashboard__container {
        display: none;
    }

}